@font-face {
  font-family: 'stencil';
    src: url('../src/assets/d_day_stencil-webfont.woff2') format('woff2'),
         url('../src/assets/d_day_stencil-webfont.woff') format('woff');
}
/* Login */

.home.container {
  display: block;
  text-align: center;
}

#login-form {
  border-style: outset;
  border-color: rgba(51, 51, 51, 0.425);
  border-radius: .75em;
}

#login-form > .form-label {
  font-family: "stencil";
  font-size: 3em;
}

/* NavBar */

.navbar {
  /* height: 10vh; */
  margin-bottom: 2.5vh;
}

.navbar-brand > img {
  width: 8vh;
  margin-left: 5vw;
}

.navbar-brand {
  font-family: "stencil";
  font-size: 2.5em;
}

.navbar-nav {
    /* how do i get rid of the margins? */
  margin-left: 18vw;
  float: center;
}

.navbar-nav > .btn {
    /* how do i get rid of the margins? */
  margin-left: 10vw;
  float: right;
}

/* dashboard */

.dashboard.container {
  min-width: 100vw;
}

.row-header {
  justify-content: center;
  font-family: 'stencil';
  font-size: 3vh;
}

.row {
  justify-content: center;
}


/* Sidebar */

.sticky-top.sidebar {
  top: 15vh;
  z-index: 100;
}

.card-header {
  font-family: 'stencil';
}

h5.card-type {
  font-family: 'stencil';
  color: grey;
  float: right;
}

/* Suggested Feed */

.mini-feed-side-scroll {
  overflow: scroll;
  height: 75vh;
  /* width: 25vw; */
  justify-content: center;
  text-align: center;
}


/* Feed */

.event-post.card {
  margin-top: 2vh;
}

.card-img {
  max-height: 18vh;
}

.comment-section {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  height: 20vh;
  width:fit-content;
  margin-top: 1vh;
}

.comment-card.card {
  margin-top: .5vh;
}

h3.row {
  font-family: 'stencil';
}

/* Calendar */

.react-calendar__day--selected span {
    border-radius: 50%;
    background: rgb(87, 87, 87) !important;
    color: #fff !important;
}
.react-calendar__day--today span {
  background: rgba(71, 71, 71, 0.459) !important;
}

.calendar-side-scroll {
  overflow: scroll;
  max-height: 45vh;
  justify-content: center;
  text-align: center;
}

.react-calendar__header {
  padding: 1vh !important;
}