@font-face {
  font-family: 'stencil';
    src: url('../src/assets/d_day_stencil-webfont.woff2') format('woff2'),
         url('../src/assets/d_day_stencil-webfont.woff') format('woff');
}
/* Login */

.home.container {
  display: block;
  text-align: center;
}

/* NavBar */

.navbar {
  height: 15vh;
  margin-bottom: 2.5vh;
}

.navbar-brand > img {
  width: 4.5vw;
  margin-left: 5vw;
}

.navbar-brand {
  font-family: "stencil";
  font-size: 1.5vw;
}

.navbar-nav {
    /* how do i get rid of the margins? */
  margin-left: 23.5vw;
  float: center;
}

.navbar-nav > .btn {
    /* how do i get rid of the margins? */
  margin-left: 23.5vw;
  float: right;
}

/* dashboard */

.dashboard.container {
  min-width: 100vw;
}

.dashboard-center {  
  min-width: 35vw;
  max-width: 40vw;
  margin-right: 3vw;
  margin-left: 3vw;
}

.row-header {
  justify-content: center;
  font-family: 'stencil';
  font-size: 2vw;
}

.row {
  justify-content: center;
}

/* Sidebar */

.sidebar {
  position: fixed;
  max-height: 80vh;
  min-width: 25vw;
  min-width: 25vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.sidebar-card.card {
  width: 21.5vw;
  height: fit-content;
}

.sidebar-card-header {
  font-family: 'stencil';
}

h5.sidebar-card-type {
  font-family: 'stencil';
  color: grey;
  float: right;
}


/* Calendar */

.staged-calendar.react-calendar {
  width: 22vw;
  max-width: 22vw;
  background: whitesmoke;
  border: .15vw solid ;
  color: grey;
  padding: .5vw;
  margin-bottom: 5vh;
  /* rgba(10, 54, 10, 0.767
  ); */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5vw;
}

.calendar-side-scroll {
  overflow: scroll;
  height: 40vh;
  max-height: 40vh;
  width: 22vw;
  justify-content: center;
  text-align: center;
}


/* Suggested Feed */

.mini-feed-side-scroll {
  overflow: scroll;
  height: 70vh;
  max-height: 70vh;
  width: 23vw;
  justify-content: center;
  text-align: center;
}


/* Feed */

/* .feed-search {
  width: 35vw;
}

.event-post.card {
  background-color: rosybrown;
  width: 35vw;
} */

