@font-face {
  font-family: 'stencil';
    src: url('../src/assets/d_day_stencil-webfont.woff2') format('woff2'),
         url('../src/assets/d_day_stencil-webfont.woff') format('woff');
}
/* Login */

.home.container {
  display: block;
  text-align: center;
}

/* NavBar */

.navbar {
  height: 10vh;
  margin-bottom: 2.5vh;
}

.navbar-brand > img {
  width: 4.5vw;
  margin-left: 5vw;
}

.navbar-brand {
  font-family: "stencil";
  font-size: 1.5vw;
}

.navbar-nav {
    /* how do i get rid of the margins? */
  margin-left: 23.5vw;
  float: center;
}

.navbar-nav > .btn {
    /* how do i get rid of the margins? */
  margin-left: 23.5vw;
  float: right;
}

/* dashboard */

.dashboard.container {
  min-width: 100vw;
}

.dashboard-center {  
  min-width: 40vw;
  max-width: 40vw;
  margin-right: 3vw;
  margin-left: 3vw;
}

.row-header {
  justify-content: center;
  font-family: 'stencil';
  font-size: 2vw;
}

.row {
  justify-content: center;
}

/* Sidebar */

.sidebar {
  position: fixed;
  max-height: 85vh;
  min-width: 25vw;
  /* margin-left: 1.5vw; */
  margin-right: 1.5vw;
}

.sidebar-card.card {
  width: 24vw;
  height: fit-content;
}

.card-header {
  font-family: 'stencil';
}

h5.card-type {
  font-family: 'stencil';
  color: grey;
  float: right;
}

/* Suggested Feed */

.mini-feed-side-scroll {
  overflow: scroll;
  height: 75vh;
  max-height: 75vh;
  width: 25vw;
  justify-content: center;
  text-align: center;
}


/* Feed */

.event-post.card {
  margin-top: 2vh;
}

.card-img {
  max-height: 23vh;
}

.comment-section {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  height: 16vh;
  width: 33vw;
  margin-top: 1vh;
}

.comment-card.card {
  margin-top: .5vh;
}

h3.row {
  font-family: 'stencil';
}

/* Calendar */

.staged-calendar.react-calendar {
  width: 25vw;
  max-width: 25vw;
  background: whitesmoke;
  border: .15vw solid ;
  color: grey;
  padding: .5vw;
  margin-bottom: 5vh;
  /* rgba(10, 54, 10, 0.767
  ); */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5vw;
}

.calendar-side-scroll {
  overflow: scroll;
  height: 45vh;
  max-height: 45vh;
  width: 25vw;
  justify-content: center;
  text-align: center;
}
.react-calendar--doubleView {
  width: 22vw;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 22vw;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 1vh;
  margin-bottom: 2vh;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
}
.react-calendar__month-view__days__day--weekend {
    color: grey;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
